[Unit]
Description=imraa
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/imraa -a

[Install]
WantedBy=multi-user.target
Alias=imraa.service
