[Unit]
Description=Service to launch node-red program

[Service]
User=node-red
ExecStart=/usr/bin/node-red
Environment="NODE_PATH=/usr/lib/node_modules"
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

