[Unit]
Description=Run node-red-experience service after some delay

[Timer]
OnBootSec=25sec
Unit=node-red-experience.service

[Install]
WantedBy=multi-user.target
